.subscribeOurNewsletterChild {
  height: 162px;
  width: 1920px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.pellentesqueEuNibh,
.subcribeOurNewsletter {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.subcribeOurNewsletter {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.pellentesqueEuNibh {
  align-self: stretch;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-400);
}
.canvasCreator {
  width: 448px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.yourEmailAddress {
  width: 400px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 0px);
}
.inputField {
  flex: 1;
  border-radius: var(--br-27xl);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl);
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.subscribe {
  position: relative;
  font-size: var(--body-medium-body-medium-500-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.button,
.shadowCreator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-21xl);
  background-color: var(--branding-success);
  border-radius: var(--br-24xl);
  z-index: 2;
  margin-left: -118px;
}
.button:hover {
  background-color: var(--color-limegreen-100);
}
.shadowCreator {
  flex: 1;
  max-width: 100%;
}
.socialMediaIcon {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
  z-index: 1;
}
.socialMediaIcon1,
.socialMediaIcon2,
.socialMediaIcon3,
.socialMediaIcon4 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-481xl);
  min-height: 40px;
  z-index: 1;
}
.shapeOffsetter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.opacityManager,
.rotateTool {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.opacityManager {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.rotateTool {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
}
.rotateToolWrapper,
.subscribeOurNewsletter {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rotateToolWrapper {
  width: 784px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--gray-scale-gray-500);
}
.subscribeOurNewsletter {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-257xl) var(--padding-21xl)
    var(--padding-281xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-xxl-body-xxl-600-size);
  color: var(--gray-scale-gray-900);
  font-family: var(--body-small-body-small-400);
}
@media screen and (max-width: 1825px) {
  .subscribeOurNewsletter {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  .shadowCreator {
    min-width: 100%;
  }
  .subscribeOurNewsletter {
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-119xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .rotateTool {
    flex-wrap: wrap;
  }
  .subscribeOurNewsletter {
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-50xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .subcribeOurNewsletter {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .shapeOffsetter {
    flex-wrap: wrap;
  }
}
